[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = {version="*"}
pytest = {version="*"}
coverage = {version="*"}
pytest-cov = {version="*"}

[dev-packages]

[requires]
python_version = "3.9"
